@font-face{
	font-family:BakersfieldLight;
	src: url(../fonts/BakersfieldLight.ttf);
}

*{
	margin:0;
	padding: 0;
}
.container-fluid{
	margin-left: -15px;

}
h3{
	font-family: BakersfieldLight;
}
body{
	margin: 0;
	padding: 0;
	/*  Background fallback in case of IE8 & down, or in case video doens't load, such as with slower connections  */
	background: #333;
	background-attachment: fixed;
	background-size: cover;

}

#videoBG {
	position: fixed;
	right: 0; 
	bottom: 0;
	min-width: 100%; 
	min-height: 100%;
	width: auto; 
	height: auto;
	z-index: -100;
}
.header,.side-nav,#barraMenu{
	display: none;
}
button{
	margin: 5px;
}
.objects {
	display:inline-block;   
	
	width: 65px; 
	height: 100%;
	margin: 10px;
	padding: 8px;
	font-size: 35px;
	text-align: right;

	
	cursor: move;
	font-family: BakersfieldLight;
	position: relative;
	z-index: 5;

}
.objects img{
	border: #DFBC6A 3px dotted;
	position: absolute;
	margin-left: -49px;
	margin-top: -66px;
	z-index: 2;
	cursor: auto;
	
}
#drop_zone {
	border: #999 1px solid;
	width: 280px; 
	height: 225px;
	padding: 8px;
	font-size: 18px;
	

}
.typewriter h1 {
	color: #fff;
	overflow: hidden;
	border-right: .15em solid orange; 
	white-space: nowrap; 
	margin: 0 auto; 
	letter-spacing: .15em; 
	animation: 
	typing 3.5s steps(30, end),
	blink-caret .5s step-end infinite;
}



@keyframes typing {
	from { width: 0 }
	to { width: 100% }
}


@keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: orange }
}



@media (max-width:800px){
	*{

	}
	a{
		display: block;
	}
}
