@font-face{
    font-family:"Reality_Sunday";
    font-style:normal;
    font-weight:normal;
    src:url(../fonts/Reality_Sunday.ttf);
    
    
}
@font-face{
    font-family:"CaviarDreams";
    font-style:normal;
    font-weight:normal;
    src:url(../fonts/CaviarDreams.ttf);
    
    
}



*{
    margin: 0;
    padding: ;

}

body{

    width: 1500px;
    height: 1014px;
    background: linear-gradient(to bottom right,cyan,blue);
    background-repeat: no-repeat;

}

#Exposicion{
    
    height: 200px;
    width: 700px;
    position: relative;
    top: 50%;
    bottom: -400px;
    left: 100px;
    right: 0;
    

    
}
#Exposicion p{
    color: white;
    font-family: "CaviarDreams";
    
}
#Exposicion h1{
      color: white;
    font-family: "Reality_Sunday";
    font-size: 35px;
    
}
#Exposicion img{
    z-index: -1;
    margin-right: 100px;
    
}
header img{
    margin-bottom: -160px;
    margin-left: 150px;
    width: 150px;
    
}
header{
    margin-bottom: -100px;
    
}
header span{
    color: white;
    font-family: "CaviarDreams";
    font-size: 50px;
    margin-right: -90px;
    top: 80px;
    left: 100px;
    position: relative;
    text-decoration: underline;
}
#registro input{
    float: left;
    height: 50px;
    width: 300px;
    border-radius: 10px;
    color: white;
    background-color: darkslateblue;
    opacity: 0.7;
}
 

#form{
    width: 500px;
    height: 430px;
    border: solid white 2px;
    border-radius: 20px;
    position: relative;
    top: 50%;
    left: 70%;
    bottom: -200px;
    background-color: white;
    border-bottom:solid 4px darkgray;
    border-right:solid 4px darkgray;

}
#form p{
    color: black;
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
    font-style: italic;
    

}

form{
    padding: 30px;

}
#login,#pass{
    padding: 10px;
    text-decoration:underline;
    font-family:monospace;
}
#login input,#pass input{
    width: 410px;
    height: 30px;

}
#boton{
    width: 410px;
    height: 50px;
    position: relative;
    top: 50%;
    left: 3%;
    background-color: dodgerblue;
    color: white;
    border-radius: 10px;
    font-size: 20px;

}
#registro{
    display: block;
    text-align: center;
    opacity: 0.9;
}
#google{
    margin-left: 40px;
    border: 1px solid darkgray;
    border-radius: 20px;
    margin-top: -10px;

}
#twitter{
    float: right;
    margin-right: 30px;
    border:1px solid darkgray;
    border-radius: 20px;
    margin-top: -10px;    

}
#recuerdame{
    margin-bottom: -10px;
    color:black;
    opacity: 0.8;

}
#phpBienvenida{
    color: white;
    font-size: 100px;
    text-align: center;
    margin-left: 500px;

}
#phpBienvenidaImg{
    width: auto;
    margin-left: 500px;
    border:solid white 2px;

}
#phpBienvenidaA{
    color: aliceblue;
    margin-left: 500px;
    
}


